@use "@/styles/abstracts/variables" as var;

.result {
	background: var.$gradient-1;
	text-align: center;
	padding: var.$spacing-xl 3.375rem;
	border-radius: 2rem;

	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (max-width: var.$bp-small) {
		padding: var.$spacing-m var.$spacing-xxl;
		gap: var.$spacing-m;
	}

	@media screen and (max-width: var.$bp-extra-small) {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	h1 {
		color: var.$color-light-blue;
		font-size: var.$fs-medium;
		font-weight: var.$fw-bold;

		@media screen and (max-width: var.$bp-extra-small) {
			font-size: var.$fs-small;
		}
	}

	& .resultStats {
		background: var.$gradient-2;
		width: 12.5rem;
		height: 12.5rem;
		border-radius: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: var.$bp-small) {
			width: 8.75rem;
			height: 8.75rem;
		}

		p:first-child {
			font-size: var.$fs-huge;
			font-weight: var.$fw-extra-bold;
			line-height: var.$line-height-small;

			@media screen and (max-width: var.$bp-small) {
				font-size: var.$fs-extra-large;
			}
		}

		p:last-child {
			color: rgba(var.$color-light-blue, 0.5);
			font-size: var.$fs-small;
			font-weight: var.$fw-bold;

			@media screen and (max-width: var.$bp-small) {
				font-size: var.$fs-extra-small;
			}
		}
	}

	.grade {
		font-size: var.$fs-large;
		font-weight: var.$fw-bold;
		margin-bottom: 0.875rem;

		@media screen and (max-width: var.$bp-small) {
			font-size: var.$fs-medium;
			margin-bottom: var.$spacing-xxs;
		}
	}

	.performance {
		color: var.$color-light-blue;

		@media screen and (max-width: var.$bp-small) {
			font-size: var.$fs-extra-small;
			color: var.$color-white;
		}
	}
}
